@{
    ViewData["Title"] = "Home Page";

}
<p class="book-title">𝓦𝓱𝓪𝓽 𝓑𝓸𝓸𝓴 𝓐𝓻𝓮 </p>
<p class="book-title2">𝓨𝓸𝓾 𝓛𝓸𝓸𝓴𝓲𝓷𝓰 𝓕𝓸𝓻?</p>

<p class="exploreyours">𝖤𝗑𝗉𝗅𝗈𝗋𝖾 𝗍𝗁𝖾 𝖻𝖾𝗌𝗍-𝗌𝖾𝗅𝗅𝖾𝗋𝗌 𝗈𝖿 2024, 𝗈𝗋 𝖺𝖽𝖽 𝗒𝗈𝗎𝗋𝗌!</p>