html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.mainpageback {
    margin-bottom: 60px;
    background-image: url('/images/homepage.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer-text {
    text-align :left;
    margin-left: -50px;
    color: dimgray;
}

.book-title, .book-title2 {
    margin-bottom: -5px;
    font-size: 40px;
}

.book-title {
    margin-top: 50px;
}

.exploreyours {
    margin-top: 20px;
    font-size: 20px;
}
